# Git & GitHub
.git
.gitignore
.github

# Virtual Environments & Caches
.venv
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
tests/
pytest.ini
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Docker / Deployment files
Dockerfile
.dockerignore

# OS specific files
.DS_Store
Thumbs.db
